.CodeRay {
      background-color: #232323;
      border: 1px solid black;
      font-family: 'Courier New', 'Terminal', monospace;
      color: #E6E0DB;
      padding: 3px 5px;
      overflow: auto;
      font-size: 12px;
      margin: 12px 0;
    }
    .CodeRay pre {
      margin: 0px;
      padding: 0px;
    }

    /* html attribute */
    .CodeRay .an { color:#E7BE69 }
    
    /* comment */
    .CodeRay .c  { 
    color:#BC9358;
    font-style: italic; }
    
  /* escaped character */
  .CodeRay .ch { color:#509E4F }
  /* class */
  .CodeRay .cl { color:#FFF }
  /* constant */
  .CodeRay .co { color:#FFF }
  /* float */
  .CodeRay .fl { color:#A4C260 }
  /* function */
  .CodeRay .fu { color:#FFC56D }
  /* global variable */
  .CodeRay .gv { color:#D0CFFE }
  /* integer */
  .CodeRay .i  { color:#A4C260 }
  /* inline code */
  .CodeRay .il { background:#151515 }
  /* instance variable */
  .CodeRay .iv { color:#D0CFFE }
  /* doctype */
  .CodeRay .pp { color:#E7BE69 }
  /* keyword */
  .CodeRay .r  { color:#CB7832 }
  /* regex */
  .CodeRay .rx { color:#A4C260 }
  /* string */
  .CodeRay .s  { color:#A4C260 }
  /* symbol */
  .CodeRay .sy { color:#6C9CBD }
  /* html tag */
  .CodeRay .ta { color:#E7BE69 }
  /* boolean */
  .CodeRay .pc { color:#6C9CBD }
